In [55]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

import pandas as pd
from datetime import datetime, timedelta, date
import pandas.io.sql as psql
import pandasql
from sqlalchemy import create_engine, MetaData
from sqlalchemy.sql import text as sa_text
import win32com.client
import tempfile
import boto3
import psycopg2

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#Function for chunking lists
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

#Define Connection to Postgres Database
def connect(user, password, db, host, port=5432):
    url  = 'postgresql://{}:{}@{}:{}/{}'
    url = url.format(user, password, host, port, db)

    # The return value of create_engine() is our connection object
    con = create_engine(url, client_encoding='utf8')
    return con

def migrate_records(dataframe, destination_table, connection_object):
    dataframe.to_sql(destination_table, connection_object, if_exists='replace', index=False)

In [2]:
#Connection criteria for postgresdb    
hostname = 'mktstrategy.ciklurvi0auw.us-east-1.rds.amazonaws.com'
username = 'tronc'
password = 'tronc123123!'
database = 'Crediting'

#create connection object
c = connect(username, password, database, hostname)

#Define OLAP cube connection string and destination table to ingest
connString = "PROVIDER=MSOLAP;Data Source={0};Database={1}".format('fcwPsqlanl03','TMModelingCube')
destination_table = 'tm_modeling'

In [17]:
#Bring in all SA Ids From Crediting DB
rep_mappings = pd.read_sql('SELECT DISTINCT company_name, sa_id, rep_name, manager_name, fiscal_year, sales_team FROM weekly_progress_report', c)
sa_id_list = list(rep_mappings.sa_id.unique())
sa_id_list = str(list(map(lambda x: '[TM Sales Assignment].[SA ID].&['+x+']',sa_id_list)))[1:-1].replace("'","")

#Get Customer Name Numbers
connString = "PROVIDER=MSOLAP;Data Source={0};Database={1}".format('fcwPsqlanl03','TMModelingCube')
query = 'SELECT NON EMPTY { [Measures].[Commission Net] } ON COLUMNS, NON EMPTY { ([Sold To].[Customer Name Number].[Customer Name Number].ALLMEMBERS ) } DIMENSION PROPERTIES MEMBER_CAPTION, MEMBER_UNIQUE_NAME ON ROWS FROM ( SELECT ( { [Publication Date].[Fiscal Year].&[2018], [Publication Date].[Fiscal Year].&[2019] } ) ON COLUMNS FROM ( SELECT ( { [Company].[Company].&[OSC], [Company].[Company].&[SSC] } ) ON COLUMNS FROM [Territory Management Modeling])) WHERE ( [Company].[Company].CurrentMember, [Publication Date].[Fiscal Year].CurrentMember ) CELL PROPERTIES VALUE, BACK_COLOR, FORE_COLOR, FORMATTED_VALUE, FORMAT_STRING, FONT_NAME, FONT_SIZE, FONT_FLAGS'
rs = win32com.client.Dispatch(r'ADODB.Recordset')
rs.Open(query, connString, CursorType=3)
a = rs.GetRows()
dataframe = pd.DataFrame(data= list(a)).transpose()
customer_list = list(dataframe[0].unique())

# current_year = datetime.now().strftime('%Y')
# last_year = str(int(datetime.now().strftime('%Y'))-1)

query_result = pd.DataFrame()
#iterate through customer names
for i in chunks(customer_list,500):
    z = ",".join(list(map(lambda x: '[Sold To].[Customer Name Number].&['+x+']',i)))
    query = 'SELECT NON EMPTY {{ [Measures].[Commission Net], [Measures].[Net] }} ON COLUMNS, NON EMPTY {{ ([TM Sales Assignment].[SA ID].[SA ID].ALLMEMBERS * [TM Sales Assignment].[Sales Assignment Sub Team].[Sales Assignment Sub Team].ALLMEMBERS * [TM Sales Assignment].[Sales Assignment Employee].[Sales Assignment Employee].ALLMEMBERS * [Sold To].[Parent Name Number].[Parent Name Number].ALLMEMBERS * [Sold To].[Parent Name].[Parent Name].ALLMEMBERS * [Sold To].[Customer Name].[Customer Name].ALLMEMBERS * [Sold To].[Customer Name Number].[Customer Name Number].ALLMEMBERS * [Product].[Product Type].[Product Type].ALLMEMBERS * [Publication Date].[Fiscal Period].[Fiscal Period].ALLMEMBERS * [Publication Date].[Fiscal Quarter].[Fiscal Quarter].ALLMEMBERS * [Publication Date].[Date].[Date].ALLMEMBERS * [Bill To].[Customer Name Number].[Customer Name Number].ALLMEMBERS * [Bill To].[Customer Name].[Customer Name].ALLMEMBERS * [Bill To].[Parent Name Number].[Parent Name Number].ALLMEMBERS * [Product].[Product Code].[Product Code].ALLMEMBERS * [Order].[Sales Sub Category].[Sales Sub Category].ALLMEMBERS * [Order].[Order Kind].[Order Kind].ALLMEMBERS * [Order].[Sales Type].[Sales Type].ALLMEMBERS * [Order].[Sales Status].[Sales Status].ALLMEMBERS  * [TM Sales Assignment].[Sales Assignment Percent].[Sales Assignment Percent].ALLMEMBERS) }} DIMENSION PROPERTIES MEMBER_CAPTION, MEMBER_UNIQUE_NAME ON ROWS FROM ( SELECT ( {{ [Publication Date].[Fiscal Year].&[2018], [Publication Date].[Fiscal Year].&[2019] }} ) ON COLUMNS FROM ( SELECT ( {{ [Company].[Company Code].&[SSC], [Company].[Company Code].&[OSC] }} ) ON COLUMNS FROM ( SELECT ( {{ {} }} ) ON COLUMNS FROM [Territory Management Modeling]))) WHERE ( [Company].[Company Code].CurrentMember, [Reporting Date].[Fiscal Year].CurrentMember ) CELL PROPERTIES VALUE, BACK_COLOR, FORE_COLOR, FORMATTED_VALUE, FORMAT_STRING, FONT_NAME, FONT_SIZE, FONT_FLAGS'.format(z)
    rs = win32com.client.Dispatch(r'ADODB.Recordset')
    rs.Open(query, connString, CursorType=3)
    a = rs.GetRows()
    query_result = query_result.append(pd.DataFrame(data= list(a)).transpose())
    
query_result.rename(columns = {0:'sa_id', 2:'sub_team', 4:'tm_employee_name', 6:'sold_to_parent_name_number',
                     8:'sold_to_parent_name', 10:'sold_to_customer_name', 12:'sold_to_customer_name_number', 14:'product_type',
                     16:'fiscal_period', 18:'fiscal_quarter', 20:'pub_date',  22:'bill_to_customer_name_number', 24:'bill_to_customer_name', 26:'bill_to_parent_name_number',
                     28:'product_code', 30:'order_sales_subcategory', 32:'order_kind',  34:'order_sales_type', 36:'sales_status',
                     38:'sales_assignment_percentage', 40:'commnet',41:'net'},inplace=True)

query_result = query_result[['sa_id', 'sub_team', 'tm_employee_name','sold_to_parent_name_number',
                     'sold_to_parent_name', 'sold_to_customer_name', 'sold_to_customer_name_number', 'product_type',
                     'fiscal_period', 'fiscal_quarter', 'pub_date',  'bill_to_customer_name_number', 'bill_to_customer_name', 'bill_to_parent_name_number',
                     'product_code', 'order_sales_subcategory', 'order_kind', 'order_sales_type', 'sales_status',
                     'sales_assignment_percentage','commnet', 'net']]

query_result = query_result.merge(rep_mappings, how='inner', left_on = ['sa_id'], right_on  = ['sa_id'])
query_result.drop(labels = ['fiscal_year'], axis =1, inplace=True)
query_result.rename(columns = {'rep_name':'sales_rep_name'}, inplace=True)

query_result = query_result[['company_name','sa_id', 'sub_team', 'sales_team','tm_employee_name',  'sales_rep_name', 'manager_name', 'sold_to_parent_name_number', 'sold_to_parent_name', 'sold_to_customer_name', 'sold_to_customer_name_number', 'product_type', 
                'fiscal_period', 'fiscal_quarter', 'pub_date', 'bill_to_customer_name_number', 'bill_to_customer_name', 'bill_to_parent_name_number', 'product_code', 'order_sales_subcategory', 
                'order_kind', 'order_sales_type', 'sales_status', 'sales_assignment_percentage', 'commnet', 'net']]

with tempfile.NamedTemporaryFile(mode='wb', delete=False) as fp:
    query_result.to_csv(fp.name, index=False)
    #query_result2 = pd.read_csv(fp.name) --test that you read the file

In [65]:
file_name = r'tm_modeling/tm_pull_'+str(datetime.now().strftime('%m_%d_%Y'))+'.csv'
aws_access_key_id = 'AKIAIG4JTEG4R2TJJREA'
aws_secret_access_key = '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'
s3 = boto3.client('s3',aws_access_key_id=aws_access_key_id,aws_secret_access_key=aws_secret_access_key)
s3.upload_file(fp.name,'bi-data-warehouse-01',file_name)

In [ ]:
from_file =  r's3://bi-data-warehouse-01/'+file_name
key = r"'"+aws_access_key_id+ r"'"
secrey_key = r"'"+aws_access_key_id+ r"'"

#truncate existing table
c.execute(sa_text('''TRUNCATE TABLE "tm_modeling"''').execution_options(autocommit=True))

#load new file
query_template = """
     copy tm_modeling
     from {}
     access_key_id {}
     secret_access_key {}
     IGNOREHEADER AS 1
     delimiter ',';
     COMMIT;
 """.format(from_file, key, secret_key)

c.execute(sa_text(query_template).execution_options(autocommit=True))